<ion-view title="Create a Trip">
    <ion-nav-buttons side="right"> 
      <button class="iconbtn button-clear ion-checkmark-round" ng-click="uploadPhoto()"></button>
    </ion-nav-buttons>

<ion-content>
            <img class="picholder edit rounded" ng-show="imgURI !== undefined" ng-src="{{imgURI}}" ng-click="takePicture()">
            <img class="picholder edit reounded" ng-show="imgURI === undefined" ng-src="pics/150x150 add.png" ng-click="takePicture()">
        <ion-list class="font-regular">
            <label class="item item-input ">
                <span class="input-label">名稱</span>
                <input class="required" type="text" placeholder="旅程名稱" ng-model="trip.tripName">
            </label>
            <label class="item item-input">
                <span class="input-label">開始日期</span>
                <input class="font-regular" type="date" ng-model="trip.startAt">
            </label>
            <label class="item item-input">
                <span class="input-label">結束日期</span>
                <input type="date" ng-model="trip.endAt">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">簡短敘述</span>
                <textarea type="text" placeholder="我想說......" name="content" rows="10" ng-model="trip.content" required></textarea>
            </label>
        </ion-list>
</ion-content>