<ion-view title="New Location">
    <ion-nav-buttons side="right"> 
      <button class="button button-clear font-regular" ng-click="create()">新增</button>
    </ion-nav-buttons>

    <ion-content>
        <img class="picholder" ng-show="imgURI !== undefined" ng-src="{{imgURI}}" ng-click="takePicture()">
        <img class="picholder" ng-show="imgURI === undefined" ng-src="pics/150x150 add.png" ng-click="takePicture()">
        <ion-list class="font-regular">
            <label class="item item-input ">
                <span class="input-label">地點</span>
                <input type="text" placeholder="旅程名稱" ng-model="loc.place">
            </label>
            <label class="item item-input">
                <span class="input-label">日期</span>
                <input class="font-regular" type="date" ng-model="loc.date">
            </label>
            <label class="item item-input">
                <span class="input-label">時間</span>
                <input class="font-regular" type="time" ng-model="loc.time">
            </label>
        </ion-list>
    </ion-content>