<ion-view title="Edit">
    <ion-nav-buttons side="right"> 
      <button class="button button-clear" ng-click="editLocation()">確定</button>
    </ion-nav-buttons>
<ion-content class="has-header">
        <img class="picholder edit img-s rounded" ng-show="location.imgURL !== undefined" ng-src="{{location.imgURL}}" ng-click="takePicture()">
        <img class="picholder edit rounded" ng-show="location.imgURL === undefined" ng-src="pics/150x150 add.png" ng-click="takePicture()">
        <ion-list class="font-regular">
            <label class="item item-input">
                <span class="input-label"> 地點</span>
                    <div class="menu-select">
                        <select ng-model="location.place">  
                            <option ng-repeat="x in names" value="{{place}}">
                                {{x.name}}{{Img}}
                            </option>
                        </select>
                    </div>      
            </label>         
            <label class="item item-input">
                <span class="input-label">日期</span>
                <input class="font-regular" type="date" ng-model="location.date">
            </label>
            <label class="item item-input">
                <span class="input-label">時間</span>
                <input class="font-regular" type="time" ng-model="location.time">
            </label>
            <label class="item item-input item-stacked-label">
                <textarea type="text" name="content" rows="10" ng-model="location.comment"  placeholder="簡短敘述" required></textarea>
            </label>
        </ion-list>
</ion-content>