<ion-view title="Settings">
  <ion-content>
    <ul class="list font-regular">
      <li class="item item-divider">系統</li>
      <li class="item item-toggle item-icon-left" href="#">
        <i class="icon ion-arrow-up-c"></i>
          自動更新
        <label class="toggle toggle-calm">
          <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
        </label>
      </li>
      <li class="item item-divider">一般</li>
      <a class="icon item item-icon-right" href="">
        更改密碼
         <i class="icon ion-chevron-right"></i>
      </a>
      <a class="icon item item-icon-right" href="">
          版本
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="icon item item-icon-right" href="">
        關於我們
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="icon item item-icon-right" href="">
        分享
        <i class="icon ion-chevron-right"></i>
      </a>
  </ul>
  </ion-content>
</ion-view>


