
/*-------------Cony--------------*/
.bar-calm .button-icon {
	color: white;
}
#comment {
	color: gray;
    padding: 5px;
}
/*
.like {
	color: #ff0000;
}
.like:hover {
	color: #ff0000;
}
*/
.title {
    color: #000000;
}
.custom-light {
    background-color:#FFFFEF;
 }
.custom-blue {
    background-color: #00DDDD;
    border: 0px;
 }
.color-topic {
    color: white;
 }
.trip-topic {
    color: #1aacc3;
    font-size: 18px;
    font-family: 微软雅黑, 微軟正黑體;
    font-weight: bolder;
 }
 .trip-content {
    font-family: 微軟正黑體;
 }
 .loc-topic {
    font-size: 18px;
    font-family: 微软雅黑, 微軟正黑體;
 }
.font-setitle {
    font-family: 微軟正黑體;
    font-weight: bold;
}
.font-regular,
ion-list > label > span,
ion-list > label > input,
ion-list > label > textarea,
button {
    font-family: 微軟正黑體;
}
.textarea.placeholder {
    padding:3px;
}
.button-icon {
    margin-right: 5px;
}
.font-regular label span {
    font-size: 18px;
}
.font-regular ion-button {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}
.ion-popover-view > .content {
    border-radius: 10px;
}
.radius {
    border-radius: 50px;
}
.toggle input:checked + .track {
  border-color: #00DDDD !important;
  background-color: #00DDDD !important;
}

/*signin page*/
#infolist {
    border-radius: 5px;
}
#loginbtn {
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0px 20px 0px;//top,left,bottom,right
}
#singnupbtn {
    border-radius: 5px;
    padding: 5px;
}
/*login page*/

.login {
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}
.regbtn {
    font-size: 20px;
}
.show {
    border-radius: 1px red;
}
.picholder.edit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*Todos popover Page*/
.popover {
    height: auto !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}
/*Location page*/
.item-content{
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    
   -webkit-box-direction: normal !important;
    -moz-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -moz-box-orient: horizontal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
   
    -webkit-box-pack: justify  !important;
    -moz-box-pack: justify  !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -webkit-align-content: stretch !important;
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  
    -webkit-box-align: center !important;
    -moz-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  
  
  .item-note{
    position:initial !important;
    display: inline !important;
    top: initial !important;
    right: initial !important;
  }
}
/*-------------img size----------*/
.img-s {
    width: 300px;
    height: 300px;
}
.img-sq {
    width: 300px;
    height:200px;
}
/*font size*/
.font-s {
    font-size: 5px;
}
/*timeline col*/
.timeline{
  width: 1px;
  height: 70px;
  background-color: lightgrey;
  margin: 0 auto;
  display: block;
  border-radius: 1px;
}
.timeline-col {
    padding: 0;
}
/*-------------Cony--------------*/
/*map*/
#map {
    height: 100%;
    width: 100%;
}
.scroll {
    height: 100%;
}
.menu-select select{
    border-style:hidden;
    margin-left:10%; 
    margin-top:10px;
}
#logoimg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 15px;
    border: 1px red;
}
.tab-item{
    border-radius: 5px;
    font-family:微軟正黑體;
}
.button-size{
    font-size: 13px;
    box-sizing: content-box;
    font-family:'Century Gothic';
}
.button-size2{
    font-size: 13px;
    box-sizing: content-box;
    font-family:'Century Gothic';
}
.a-head{
     font-size: 28px;
     font-family:微軟正黑體;
     font-weight: bold; 
     color:#616161;
}
.a-button{
    margin: 0;
    line-height: 60px;
    box-sizing: content-box;
    font-size: 28px;
}
.f-head{
     font-size: 28px;
     font-family:微軟正黑體;
     font-weight: bold; 
     color:#616161;
}
.f-text{
    font-size: 18px;
    color:#616161;
    font-family:微軟正黑體;
}
.f-email{
    background: #E0E0E0;
}
.f-button{
    left:5px;
    top: 15px;
    font-size: 15px;
}